<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta charset="utf-8">
    <title>递归组件</title>
</head>
<body>
<div id="app">
    <ul v-for="menuItem in theModel">
        <my-tree :model="menuItem">

        </my-tree>
    </ul>
</div>
<template id="tree-component">
    <li>
        {{ model.menuName }}
        <ul>
            <tree-component v-for="item in model.children" :model="item"></tree-component>
        </ul>
    </li>

</template>
<script src="src/vue.js"></script>
<script>

    //创建一个组件
    var myTree = Vue.extend({
        template: '#tree-component',
        name: 'treeComponent',
        props: ['model']
    })
    //注册组件
    Vue.component('my-tree', myTree)
    var myData = [
        {
            'id': '1',
            'menuName': '基础管理',
            'menuCode': '10',
            'children': [
                {
                    'menuName': '用户管理',
                    'menuCode': '11'
                },
                {
                    'menuName': '角色管理',
                    'menuCode': '12',
                    'children': [
                        {
                            'menuName': '管理员',
                            'menuCode': '121',
                            'children': [
                                    {
                                'menuName': '管理员2',
                                'menuCode': '1211',
                                'children': [
                                    {
                                        'menuName': '管理员3',
                                        'menuCode': '12111',
                                        'children': [

                                        ]
                                    }
                                ]
                            }
                            ]
                        },
                        {
                            'menuName': 'CEO',
                            'menuCode': '122'
                        },
                        {
                            'menuName': 'CFO',
                            'menuCode': '123'
                        },
                        {
                            'menuName': 'COO',
                            'menuCode': '124'
                        },
                        {
                            'menuName': '普通人',
                            'menuCode': '124'
                        }
                    ]
                },
                {
                    'menuName': '权限管理',
                    'menuCode': '13'
                }
            ]
        },
        {
            'id': '2',
            'menuName': '商品管理',
            'menuCode': ''
        },
        {
            'id': '3',
            'menuName': '订单管理',
            'menuCode': '30',
            'children': [
                {
                    'menuName': '订单列表',
                    'menuCode': '31'
                },
                {
                    'menuName': '退货列表',
                    'menuCode': '32',
                    'children': []
                }
            ]
        },
        {
            'id': '4',
            'menuName': '商家管理',
            'menuCode': '',
            'children': []
        }
    ];
    var vue = new Vue({
        el: '#app',
        data: {
            theModel: myData
        }
    })
</script>
</body>
</html>