<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta charset="utf-8">
    <title>递归组件</title>
    <style>

        span.menu-name {
            position: relative;

        }

        .newnode {
            position: absolute;
            width: 80px;
            border: 1px solid #999;
            background: #fff;
            z-index: 2;
            padding: 0;
            overflow: hidden;
            left: 20px;
        }

        .newnode li {
            list-style: none;
            padding: 4px 10px;
            border-bottom: 1px #ccc solid;
            cursor: pointer;
        }
        .newnode li:hover{
            background: #009DD9;
            color: #fff;
        }

        #app {
            height: 800px;
        }
    </style>
</head>
<body>
<div id="app" @click="appClick($event)"  >
    <ul v-for="menuItem in theModel">
        <tree-component :model="menuItem" ref="cc1">

        </tree-component>
    </ul>

</div>
<template id="tree-component">
    <li>
        <span @click="toggle" @contextmenu.prevent="addNode" class="menu-name">
              <i v-if="isFolder" class="icon" :class="[open ? 'folder-open': 'folder']">+</i>
              <i v-if="!isFolder" class="icon file-text"></i>
              {{ model.menuName }}
            <ul style="display: none" class="newnode" @click.stop>
                <li @click="operateRightClickMenu('1',model,parentModel)">置顶</li>
                <li @click="operateRightClickMenu('2',model,parentModel)">上移</li>
                <li @click="operateRightClickMenu('3',model,parentModel)">下移</li>
                <li @click="operateRightClickMenu('4',model,parentModel)">置底</li>
                <li @click="operateRightClickMenu('5',model,parentModel)">删除</li>
            </ul>
        </span>

        <ul v-show="open" v-if="isFolder">
            <tree-component v-for="item in model.children" :model="item" :parent-model="model.children"></tree-component>
        </ul>
    </li>

</template>
<script src="src/vue.js"></script>
<script>

    //创建一个组件
    var treeComponent = Vue.extend({
        template: '#tree-component',
        name: 'treeComponent',
        props: ['model','parent-model'],
        data: function () {
            return {
                open: false,
                isFolder: true
            }
        },
        computed: {
            isFolder: function () {
                return this.model.children && this.model.children.length
            }
        },
        methods: {
            toggle: function () {
//                console.log(this);
                if (this.isFolder) {
                    this.open = !this.open
                }

            },
            addNode: function () {
                console.log('点击右键了')
                console.log(this.model.menuName);
                document.querySelectorAll('.newnode').forEach(function(item,i){
                    item.style.display='none';
                })

                this.$el.querySelector('.newnode').style.display='block';

            },
            operateRightClickMenu : function (type,model,parentModel) {
//                  type :1  置顶
//                  type：2  上移
//                  type：3  下移
//                  type：4  置底
//                  type：5  删除
                console.info(model);
                console.info(parentModel);
                switch (type){
                    case '1':
                        parentModel.forEach(function(item,i){
                            if(item.menuCode === model.menuCode){
                                parentModel.splice(i,1);
                                parentModel.unshift(model);
                            }
                        });
                        break;
                    case '2':
                        parentModel.forEach(function(item,i){
                            if(item.menuCode === model.menuCode){
                                if(i!==0){
                                    parentModel.splice(i,1);
                                    parentModel.splice(i-1,0,model);
                                }

                            }
                        });
                        break;
                    case '3':
                        for (var i=0,len=parentModel.length;i<len;i++){
                            if(parentModel[i].menuCode === model.menuCode){
                                if(i!==len-1){
                                    parentModel.splice(i,1);
                                    parentModel.splice(i+1,0,model);
                                    break;
                                }

                            }
                        }
                        break;
                    case '4':
                        parentModel.forEach(function(item,i){
                            if(item.menuCode === model.menuCode){
                                if(i!==parentModel.length-1){
                                    parentModel.splice(i,1);
                                    parentModel.push(model);
                                }
                            }
                        });
                        break;
                    case '5':
                        parentModel.forEach(function(item,i){
                            if(item.menuCode === model.menuCode){
                                if(i!==parentModel.length-1){
                                    parentModel.splice(i,1);
                                }

                            }
                        });
                        break;
                    default:
                        console.log('type类型未匹配')
                }
                document.querySelectorAll('.newnode').forEach(function(item,i){
                    item.style.display='none';
                })

            }
        }
    })
    //注册组件
    //    Vue.component('tree-component', treeComponent)
    var myData = [
        {
            'id': '1',
            'menuName': '基础管理',
            'menuCode': '10',
            'children': [
                {
                    'menuName': '用户管理',
                    'menuCode': '11'
                },
                {
                    'menuName': '角色管理',
                    'menuCode': '12',
                    'children': [
                        {
                            'menuName': '管理员',
                            'menuCode': '121',
                            'children': [
                                {
                                    'menuName': '管理员2',
                                    'menuCode': '1211',
                                    'children': [
                                        {
                                            'menuName': '管理员3',
                                            'menuCode': '12111',
                                            'children': []
                                        }
                                    ]
                                }
                            ]
                        },
                        {
                            'menuName': 'CEO',
                            'menuCode': '122'
                        },
                        {
                            'menuName': 'CFO',
                            'menuCode': '123'
                        },
                        {
                            'menuName': 'COO',
                            'menuCode': '124'
                        },
                        {
                            'menuName': '员工',
                            'menuCode': '125'
                        }
                    ]
                },
                {
                    'menuName': '权限管理',
                    'menuCode': '13'
                }
            ]
        },
        {
            'id': '2',
            'menuName': '商品管理',
            'menuCode': ''
        },
        {
            'id': '3',
            'menuName': '订单管理',
            'menuCode': '30',
            'children': [
                {
                    'menuName': '订单列表',
                    'menuCode': '31'
                },
                {
                    'menuName': '退货列表',
                    'menuCode': '32',
                    'children': []
                }
            ]
        },
        {
            'id': '4',
            'menuName': '商家管理',
            'menuCode': '',
            'children': []
        }
    ];
    var vue = new Vue({
        el: '#app',
        data: {
            theModel: myData
        },
        components: {
            'tree-component': treeComponent
        },
        methods: {
            appClick: function (e) {
                console.log(e);
                var _this = this;

                document.querySelectorAll('.newnode').forEach(function(item,i){
                    item.style.display='none';
                })

            }
        }
    })
    /*
     @contextmenu.prevent  右键事件
     @click.stop  阻止冒泡
     vue 好像只能父子组件通信  连自定义事件都不行
     对于事件处理 最好用 js的事件，用数据映射 太麻烦 涉及组件通信
     */
</script>
</body>
</html>