/* reset */
body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

body, button, input, select, textarea {
    font: 14px/1.5 "Helvetica Neue", Helvetica, STHeiTi, sans-serif, Arial, \5b8b\4f53;
}

code, kbd, pre, samp {
    font-family: Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
}

address, cite, dfn, em, var {
    font-style: normal;
}

section, article, aside, header, footer, nav, dialog, figure {
    display: block;
}

figure {
    margin: 0;
}

hr, button, input, textarea {
    margin: 0;
    padding: 0;
}

small {
    font-size: 12px;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    outline: none;
}

a:hover, a:focus {
    text-decoration: underline;
}

sup {
    vertical-align: text-top;
}

sub {
    vertical-align: text-bottom;
}

legend {
    color: #000;
}

fieldset, img {
    border: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* generic */
label[for] {
    cursor: pointer;
}

/* base */
body {
    color: #333;
    min-width: 600px;
}

/*form*/
label, p, span, input[type='text'], input[type='number'], button {
    margin-left: 10px;
}

label {
    display: block;
    font-size: 12px;
    font-weight: 700;
    margin-top: 8px;
    margin-bottom: -2px;
}

input[type='text'], input[type='number'], button {
    width: 200px;
    height: 26px;
    padding: 2px 10px;
    border: solid 1px #ccc;
    border-radius: 4px;
    margin: 5px 10px;
}

button {
    border: 0;
    width: 80px;
    height: 36px;
    line-height: 36px;
    background-color: #4eb6fb;
    color: #fff;
    font-size: 16px;
    word-wrap: break-word;
    font-family: Terminal,Courier New;
    display: block;
    border-radius: 4px;
    /* margin-bottom: 3px; */
    cursor: pointer;
}
#now_price{
    border-bottom: 1px dotted #ccc;
    height: 40px;
    line-height: 40px;
    margin: 12px;
    font-weight: 700;
}