/*--flash---*/
.index-top-flash
{
    width: 1000px;
    overflow: hidden;
    margin: 0px auto;
}
.index-top-flash-h400
{
    height: 370px;
}
.index-top-flash-h85
{
    height: 70px;
}
.index-top-flash .p-a
{
    top: 0px;
    left: 0px;
    width: 1000px;
}
.index-ad-box
{
    height: 87px;
    margin: 0 auto;
    position: relative;
    width: 1000px;
}
/*-----box-----*/
.index-box-nr1
{
    border: #DDD solid 1px;
    color: #666666;
    margin-top: 10px;
}
.index-box-nr1 .index-box-til
{
    border-bottom: #DDD solid 1px;
    padding: 5px 10px;
    background: url(/Image/Index/box-nr-til-bg.gif) repeat-x left bottom;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
}
.index-box-nr1 .index-box-til .index-box-til-more
{
    top: 5px;
    right: 10px;
    position: absolute;
    font-size: 12px;
    font-weight: normal;
}
.index-box-nr1 .index-box-til .index-box-tilTxt
{
    padding-left: 8px;
}
.index-box-nr1 .index-box-content
{
    padding: 10px;
    font-size: 12px;
}

/*-----广告----*/
.Ads-box
{
    border: #DDD solid 1px;
}
.Ads
{
    position: relative;
    width: 748px;
    height: 200px;
    margin: 0 auto;
    overflow: hidden;
	border:#F00 solid 2px;
}
.Ads .AdsNav
{
    position: absolute;
    bottom: 0px;
    font-family: Arial, Helvetica, sans-serif;
    left: 0px;
    width: 748px;
    height: 30px;
}
.Ads .AdsNav li
{
    height: 30px;
}
.Ads .AdsNav li .AdsNav_alphBg
{
    width: 100%;
    height: 30px;
    background: rgba(255, 255, 255, 0.6) none repeat scroll 0 0 !important;
    filter: Alpha(opacity=60);
    background: #fff;
    left: 0px;
    top: 0px;
    z-index: 99;
}
.Ads .AdsNav li .AdsNav_alphBg_o
{
    width: 100%;
    height: 30px;
    background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0 !important;
    filter: Alpha(opacity=60);
    background: #000000;
    left: 0px;
    top: 0px;
    z-index: 99;
}
.Ads .AdsNav li .AdsNav_txt
{
    width: 100%;
    height: 30px;
    left: 0px;
    top: 0px;
    z-index: 100;
    text-align: center;
}
.Ads .AdsNav A
{
    display: block;
    height: 30px;
    line-height: 30px;
    text-align: center;
    width: 100%;
    vertical-align: middle;
    color: #000 !important;
    text-align: none;
    text-decoration: none;
    font-size: 12px;
}
.Ads .AdsNav A.imgSelected
{
    color: #FFF !important;
}

/*----最新成交产品---*/
.lastSalePro li .g-pign-sprite
{
    margin-top: 45px;
    cursor: pointer;
}
.lastSalePro li .lastSalePro-l-no
{
    background-position: -40px -632px;
    cursor: default;
}
.lastSalePro li .lastSalePro-r-no
{
    background-position: -24px -632px;
    cursor: default;
}
.lastSalePro .lastSalePro-picBox
{
    width: 680px;
    height: 145px;
    margin-left: 16px;
    overflow: hidden;
}
.lastSalePro .lastSalePro-picBox .lastSalePro-picList
{
    left: 0px;
    top: 0px;
    word-break: keep-all;
}
.lastSalePro .lastSalePro-picBox .lastSalePro-picList li
{
    width: 120px;
    margin-right: 16px;
}
.lastSalePro .lastSalePro-picBox .lastSalePro-picList li .lastSalePro-picList-img
{
    border: #EEE solid 1px;
    height: 118px;
}
.lastSalePro .lastSalePro-picBox .lastSalePro-picList li .lastSalePro-picList-proName
{
    color: #0066cc;
    margin-top: 10px;
    text-align: center;
    width: 120px;
    table-layout: fixed;
}
.lastSalePro .lastSalePro-picBox .lastSalePro-picList li .lastSalePro-picList-proName td
{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*----商城公告-----*/
.index-shopAnnouncement
{
    border-bottom: #DDD solid 1px;
    background: url(/Image/Index/index_shopAnnouncement.jpg) left top no-repeat;
    padding: 47px 10px 10px 10px;
}
.index-shopAnnouncement ul
{
    font-size: 12px;
    height: 143px;
    overflow: hidden;
}
.index-shopAnnouncement ul li
{
    line-height: 24px;
}
.index-shopAnnouncement ul li table
{
    table-layout: fixed;
    width: 215px;
}
.index-shopAnnouncement ul li table td
{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.index-shopAnnouncement ul li table td .listStySquare
{
    display: inline-block; *display:inline;*zoom:1;vertical-align:middle;height:4px;width:4px;background-color:#666666;margin-right:5px;}
.index-shopAnnouncement ul li a
{
    color: #666666 !important;
}
.index-shopAnnouncement ul li a:hover
{
    color: #ff9900 !important;
}

/*----友情链接-----*/
.index-FriendLink
{
    border: #DDD solid 1px;
    padding: 10px;
    margin-top: 10px;
    font-size: 14px;
}
.index-FriendLink .index-FriendLink-til
{
    border-bottom: #EEE solid 1px;
    padding-bottom: 10px;
    font-weight: bold;
}
.index-FriendLink .index-FriendLink-til .p-a
{
    top: 0px;
    right: 4px;
    font-size: 12px;
    font-weight: normal;
}
.index-FriendLink .index-FriendLink-content
{
    padding: 20px 5px;
}
.index-FriendLink .index-FriendLink-content a
{
    padding-right: 15px;
    color: #666666 !important;
    margin-bottom: 10px;
}
.index-FriendLink .index-FriendLink-content a:hover
{
    color: #0066cc !important;
    font-weight: bold;
}

/*----商城精选-----*/
.index-shop-fancy-but
{
    width: 96px;
    height: 23px;
    background: url(/Image/Index/but.gif) no-repeat left top;
    margin-left: 10px;
    vertical-align: middle;
}
.index-shop-fancy td
{
    overflow: hidden;
}
.index-shop-fancy .index-shop-fancy-til
{
    border-bottom: #EEE solid 1px;
    line-height: 28px;
    height: 28px;
}
.index-shop-fancy .index-shop-fancy-nr
{
    margin-top: 5px;
}
.index-shop-fancy .index-shop-fancy-nr .p-r
{
    height: 215px;
    overflow: hidden;
}
.index-shop-fancy .index-shop-fancy-nr .p-a
{
    left: 0px;
    top: 0px;
}
.index-shop-fancy .index-shop-fancy-nr .price
{
    width: 55px;
    overflow: hidden;
    vertical-align: middle;
    text-align: left;
}
.index-shop-fancy .index-shop-fancy-nr td .overTbl-ellipsis td
{
    padding: 5px 0px;
}


/*---供应商----*/
#applier-scrollDiv
{
    padding-left: 4px;
    height: 276px; *height:280px;overflow:hidden;}
#applier-scrollDiv .p-r
{
    height: 276px; *height:280px;overflow:hidden;}
#applier-scrollDiv .p-a
{
    top: 0px;
    left: 0px;
}
.applier li
{
    padding: 5px;
    width: 350px;
}
.applier li table
{
    border-top: #EEE solid 1px;
    height: 82px;
    border-left: #EEE solid 1px;
    background-color: #EEE;
}
.applier li table td
{
    border-bottom: #EEE solid 1px;
    border-right: #EEE solid 1px;
    line-height: 20px;
    height: 100%;
    background-color: #FFF;
}
.applier li table td.applier-img
{
}
.applier li table td.applier-txt
{
    width: 195px;
}
.applier li table td.applier-img div
{
    width: 155px;
    text-align: center;
    overflow: hidden;
}
.applier li table td.applier-img div img
{
    margin: 0px auto;
}
.applier li table td.applier-txt div
{
    word-break: break-all;
    padding: 10px;
}

/*---支持单位----*/
.support-companyBox
{
    background-color: #f0f6ff;
    padding: 4px !important;
}
.support-company
{
    border: #cde1ff solid 1px;
    padding: 10px 0px;
    text-align: center;
    background-color: #FFF;
    margin-bottom: 4px;
}


/*---订购指南---*/
.index-order-guide
{
    background: url(/Image/Index/order-guide-line.jpg) left top repeat;
}
.index-order-guide .index-order-guide-item
{
    border: #cde1ff solid 1px;
    background-color: #f0f6ff;
    padding: 5px 4px;
    color: #000000 !important;
    margin: 5px;
}
.index-order-guide a.index-order-guide-item:hover
{
    color: #FFF !important;
    border: #0066cc solid 1px;
    background-color: #0066cc;
}
.index-order-guide .index-order-guide-line
{
    height: 1px;
    overflow: hidden;
    font-size: 0px;
    zoom: 1;
    background-color: #DDD;
    margin: 10px 0px;
}
/*-------------右边浮动条right-float块--------*/
.right-float-self
{
    position: absolute;
    right: -40px;
    top: 0px;
}
.right-float
{
    display: inline-block; 
    *display:inline;
    *zoom:1;
    background-color:#f7f7f7;
    border-bottom:#dddddd solid 1px;
}
.qq-num
{
    width: 12px;
    word-break: break-all;
}
.right-float-fix
{
    position: fixed;
    top: 0px;
    _position: absolute;
    _top: expression(eval(document.documentElement.scrollTop));
    display: none;
}
.right-float td
{
    border: #dddddd solid 1px;
    border-bottom: none;
    padding: 10px 4px;
    text-align: center;
}
.right-float a
{
    color: #666666;
    text-decoration: none;
}
/*-------------工厂呆滞料------------*/
#ulsmInfo li
{
    margin-bottom: 5px; *margin-bottom:0px;*margin-left:-10px;}
.index-sluggish-but
{
    width: 96px;
    height: 23px;
    background: url(/Image/Index/but.gif) no-repeat left top;
    margin-left: 10px;
    vertical-align: middle;
}
.index-sluggish td
{
    overflow: hidden;
}
.index-sluggish .index-sluggish-til
{
    border-bottom: #EEE solid 1px;
    line-height: 28px;
    height: 28px;
}
.index-sluggish .index-sluggish-nr
{
    margin-top: 10px;
}
.index-sluggish .index-sluggish-nr .p-r
{
    height: 210px;
    overflow: hidden;
}
.index-sluggish .index-sluggish-nr .p-a
{
    left: 0px;
    top: 0px;
}
.index-sluggish .index-sluggish-nr .price
{
    width: 55px;
    overflow: hidden;
    vertical-align: middle;
    text-align: left;
}
.index-sluggish .index-sluggish-nr td .overTbl-ellipsis td
{
    padding: 5px 0px;
}
/*----------申请好友链接弹出层-------*/
#askFriendLink
{
    font-size: 12px;
    width: 490px;
}
#askFriendLink ul
{
    margin: 10px;
}
#askFriendLink li
{
    margin-top: 10px;
}
#askFriendLink .askFriendLink-til
{
    width: 70px;
    line-height: 22px;
    height: 22px;
    vertical-align: middle;
}
#askFriendLink .askFriendLink-til span
{
    width: 100%;
    overflow: hidden;
    font-size: 0px;
    zoom: 1;
}
#askFriendLink input
{
    width: 220px;
}
#askFriendLink .askFriendLink-btn
{
    margin-top: 20px;
    text-align: center;
    margin-bottom: 10px;
}
#askFriendLink .askFriendLink-btn .g-btn
{
    margin-right: 20px;
}
