.paystatus .pic{
    background: url("/app_images/wanlitong/v40/wap/pay/v2.0/order_status.png") center;
    background-size: cover;
    width: 288px;
    height: 300px;
    margin: 130px auto 56px auto;
    position: relative;
}
.paystatus p{
    font-size: 28px;
    font-weight: bold;
    text-align: center;

}
.paystatus p:nth-of-type(2){
    color: #ff0000;
    margin-top: 1em;
}

#circleG{
    width: 149.33px;
    position: absolute;
    top: 140px;
    left: 62px;
}

.circleG{
    background-color:#4DA6FF;
    float:left;
    height:32px;
    margin-left:17px;
    width:32px;
    -webkit-animation-name:bounce_circleG;
    -webkit-animation-duration:1.9500000000000002s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-direction:normal;
    -webkit-border-radius:21px;
    animation-name:bounce_circleG;
    animation-duration:1.9500000000000002s;
    animation-iteration-count:infinite;
    animation-direction:normal;
    border-radius:21px;
}

#circleG_1{
    -webkit-animation-delay:0.39s;
    animation-delay:0.39s;
}

#circleG_2{
    -webkit-animation-delay:0.9099999999999999s;
    animation-delay:0.9099999999999999s;
}

#circleG_3{
    -webkit-animation-delay:1.1700000000000002s;
    animation-delay:1.1700000000000002s;
}

@-webkit-keyframes bounce_circleG{
    0%{
    }

    50%{
        background-color:#007CFF}

    100%{
    }

}

@keyframes bounce_circleG{
    0%{
    }

    50%{
        background-color:#007CFF}

    100%{
    }

}
